@model Ligak_Optimalis_Kialakitasa.Models.Tournament
<div class="main-container">
    <div class="teamscontent">
        <form asp-action="Teams" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="div1">
                <label asp-for="NameOfTournament"></label>
                <input asp-for="NameOfTournament" required type="text" />
                <span asp-validation-for="NameOfTournament"></span>
            </div>
            <div id="div2">
                <h2>Csapatok bevitele</h2>

                <div id="teamscoordinate">
                    <div scope="col" align="center">
                        A csapatok nevei
                    </div>
                    <div scope="col" align="center">
                        A csapatok koordinátái
                    </div>
                </div>
                <div id="data">


                    @for (int i = 0; i < Model.Teams.Length; i++)
                    {
                        <div id="table1" style="display: grid;grid-template-columns: auto auto; margin:0px 10px">
                            <div id="table1-content" style="align-self: center; place-self: center;">
                                <p>
                                    @if (Model.Teams[i].Name == "Hibás név!")
                                    {
                                        <input type="text" id="csapat" name="@(i)csapat" placeholder="Hibás név" />
                                    }
                                    else if (Model.Teams[i].Name == null)
                                    {
                                        <input type="text" id="csapat" name="@(i)csapat" />
                                    }
                                </p>
                            </div>
                            <div id="table2" style="display: grid; grid-template-columns: auto auto auto;">
                                @if (Model.Teams[i].Coordinate.LatitudeValue <= 0 && Model.Teams[i].Coordinate.LongitudeValue <= 0)
                                {
                                    <select name="@(i)Koordinata_szelesseg" style="margin:4px 0px;">
                                        @if (Model.Teams[i].Coordinate.Latitude == CoordinateHelperLatitude.Északi)
                                        {
                                            <option value="Északi" selected>
                                                Északi
                                            </option>
                                            <option value="Déli">
                                                Déli
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="Északi">
                                                Északi
                                            </option>
                                            <option value="Déli" selected>
                                                Déli
                                            </option>
                                        }
                                    </select>
                                    <label style="margin:1px 4px; align-self:center"> Szélesség</label>
                                    <input style=" margin: 1px 4px;" type="text" name="@(i)szelkoordináta" id="koordinata" required placeholder="A helyes formátum : 12,345" />
                                    <select name="@(i)Koordinata_hosszusag" style="margin:4px 0px;">
                                        @if (Model.Teams[i].Coordinate.Longitude == CoordinateHelperLongitude.Keleti)
                                        {
                                            <option value="Keleti" selected>
                                                Keleti
                                            </option>
                                            <option value="Nyugati">
                                                Nyugati
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="Keleti">
                                                Keleti
                                            </option>
                                            <option value="Nyugati" selected>
                                                Nyugati
                                            </option>
                                        }
                                    </select>
                                    <label style="margin:1px 4px; align-self:center"> Hosszúság</label>
                                    <input style=" margin: 1px 4px;" type="text" name="@(i)hosszkoordináta" id="koordinata" required placeholder="A helyes formátum : 12,345" />
                                }
                            </div>
                        </div>
                    }

                </div>
                <input type="submit" value="Tovább" class="w3-button w3-red w3-large w3-opacity" style="margin: 50px 43%;" />
            </div>
            
        </form>
    </div>
</div>